html {
    max-height: 100vh;
    height: 100vh;
}

.body {
    max-height: 100vh;
    height: 100vh;
}

.App {
    max-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}