/* Define base variables (light mode as the default) */
:root {
    --tertairy-color: rgb(43, 48, 53);

    /* Keyboard */
    --keyboard-bg-color: #818384;
    --keyboard-color: #fff;
    --keyboard-max-width: 500px;

    /* Board */
    --board-cell-border-color: #000;
    --board-cell-text-color: #000;
    
    --board-max-width: 350px;
    --board-grid-gap: 5px;

    --board-cell-selected-color: #48484b;

    /* Sign in / up */
    --sign-in-divider-color: #000;

    /* Layout */ 
    --header-height: 70px;
    --keyboard-height: 200px;
    --extra-space: 20px;
    --small-phone-board-width: 300px;
}

/* Dark theme */
html[data-bs-theme="dark"] {
    --tertairy-color: rgb(43, 48, 53);

    /* Keyboard */
    --keyboard-bg-color: #949494;
    --keyboard-color: #fff;

    /* Board */
    --board-cell-border-color: #3a3a3c;
    --board-cell-text-color: #fff;
    --board-cell-selected-color: #888;

    /* Sign in / up */
    --sign-in-divider-color: #eee;
}

/* Color-blind mode (light theme) */
html[data-color-blind="true"] {
    /* Keyboard */
    --keyboard-bg-color: #818384;
    --keyboard-color: #fff;
}

/* Color-blind mode (dark theme) */
html[data-bs-theme="dark"][data-color-blind="true"] {
    /* Keyboard */
    --keyboard-bg-color: #818384;
    --keyboard-color: #fff;
}
