# Ignore the top-level node_modules folder (if it exists)
node_modules/

# Ignore all node_modules in subdirectories
client/node_modules/
server/node_modules/

client/node_modules
server/node_modules

client\\node_modules
server\\node_modules

client\node_modules
server\node_modules

# Ignore build files (optional)
client/build/
client/dist/