.guess-distribution {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guess-distribution__row {
    display: flex;
    align-items: center;
}

.guess-distribution__progress-bar {
    min-height: 28px;
    margin: 0 1rem 0 0;
    flex-grow: 1
}

.guess-distribution__label {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 1rem;
}

.guess-distribution__number {
    font-size: 1.5rem;
    width: 2rem;
    font-weight: bold;
}