.keyboard {
    flex: none;
    margin: .25rem;
    user-select: none;
    touch-action: manipulation;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    /* align bottom of flex column */
    margin-top: auto;
}

.keyboard-row {
    touch-action: manipulation;
    display: flex;
    align-items: center;
    justify-content: center;
}

.keyboard-key {
    text-transform: uppercase;
    user-select: none;
    width: calc((100% / 11) - 2px);
    height: 55px;
    font-size: 16px;
    font-weight: 700;
    margin: 2px;
    font-size: 14px;
    background-color: var(--keyboard-bg-color);
    color: var(--keyboard-color);
    border: 1px solid var(--keyboard-bg-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, .5);
    /* Monospace font */
    font-family: monospace;
}

.enter {
    width: 23%;
}

.backspace {
    flex-grow: 1;
}